extends layout

block content
  h1 Firmenbuch Suche

  if error
    p.error= error

  form(method="POST" action="/suchen")
    div.field
      label(for="firmenwortlaut") Firmenwortlaut
      input#firmenwortlaut(type="text" name="firmenwortlaut" placeholder="z.B. Erste*" required autofocus)
    div.field
      label.checkbox-label
        input(type="checkbox" name="exaktesuche")
        | Exakte Suche
    div.field
      label.checkbox-label
        input(type="checkbox" name="nurAktiv" checked)
        | Nur aktive Firmen
    div.field
      label(for="suchbereich") Suchbereich
      select#suchbereich(name="suchbereich")
        option(value="1") 1 – eingetragene und gelöschte Firmen
        option(value="2") 2 – historische Firmenwortlaute
        option(value="3") 3 – keine Einschränkung
        option(value="4") 4 – eingetragene Firmenwortlaute
    button(type="submit") Suchen
